---
import type { CollectionEntry } from "astro:content";
export interface Props {
  post: CollectionEntry<"blog">;
  isFullyStyled?: boolean;
}

const { post, isFullyStyled = true } = Astro.props;

const hueColor = Math.floor(Math.random() * (360 - 0 + 1)) + 0;
const titleColor = `hsla(${hueColor}, 70%, 50%, 80%)`;
---

<li class={`link-card ${isFullyStyled && "is-fully-styled"}`}>
  <a href={`/posts/${post.slug}`}>
    <div class="heading-wrapper">
      <h2 class="title">
        {post.data.title}
      </h2>
      <p class="date">{post.data.pubDate}</p>
    </div>
    <p class="description">
      {post.data.description}
    </p>
  </a>
</li>

<style define:vars={{ titleColor }}>
  .link-card {
    background-color: var(--white);
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    list-style: none;
    transition: all 300ms ease-in-out;
  }

  .link-card > a {
    border-radius: 0.35rem;
    display: block;
    line-height: 1.4;
    opacity: 0.8;
    padding: 1rem;
    text-decoration: none;
    width: 100%;
  }

  .link-card.is-fully-styled .heading-wrapper .heading-wrapper {
    display: block;
  }

  .date {
    margin: 0;
    color: var(--gray);
  }

  .title {
    color: var(--secondary);
    font-size: 1.25rem;
    margin: 0;
  }

  .link-card.is-fully-styled .title {
    background: linear-gradient(
      to right,
      var(--titleColor),
      var(--titleColor) 50%,
      var(--secondary) 50%
    );
    background-clip: text;
    background-size: 200% 100%;
    background-position: 100%;
    overflow: hidden;
    transition: background-position 275ms ease;
    text-decoration: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .description {
    margin-top: 0.5rem;
    margin-bottom: 0;
    color: var(--gray);
  }

  .link-card:is(:hover, :focus-within) {
    transform: scale(1.05);
  }

  .link-card:is(:hover, :focus-within) .title {
    background-position: 0 100%;
  }

  @media (min-width: 576px) {
    .link-card.is-fully-styled .heading-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .date {
      margin-top: 0.25rem;
      color: var(--gray);
    }
  }
</style>
